* {
	box-sizing: border-box;
}
body {
	background-color: #F6E8EA;
	color: #22181C;
	line-height: auto;
}

h1, h2, ul, li {
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1 {
	font-size: 12vw;
	margin: 0 0 0 50px;
}
h2 {
	font-size: 50px;
	margin: 0 0 20px 100px;
}
ul {
	font-size: 20px;
	margin: 0 0 50px 100px;
}
li {
	font-family: "Figtree", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

a {
	text-decoration: none;
	color: #22181C;
}
a:visited {
	color: #22181C;
}
a:hover {
	color: rgb(232,126,161);
}