* { /*this is the universal selector*/
	box-sizing: border-box;
}
body {
	background-color: #F2E8DC;
	color: #3F3047;
	line-height: auto;
}

/* header styles */
header {
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flow-root;
  padding: 25px 0;
  width: 80vw;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
  float: right;
}
nav li {
  margin: 0 0 0 50px;
  float: left;
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h1 {
	font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 12vw;
	margin: 0 0 100px 100px;
	line-height: 1;
  position: fixed;
  bottom: 0;
}

a {
	text-decoration: none;
	color: #3F3047;
}
a:visited {
	color: #3F3047;
}
a:hover {
	color: #6E91AD;
}