body {
	background-color: #FEE440;
}
h1 {
	font-family: "Handjet", sans-serif;
	font-size: 150px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #9B5DE5;
	text-align: center;
	margin-top: 40vh;
}
h2 {
	font-family: "Handjet", sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	text-align: center;
	margin-top: 35vh;
}
	h3 {
	font-family: "Handjet", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	text-align: center;
	margin-top: 10vh;
}
.year1 {
	font-family: "Handjet", sans-serif;
	font-size: 10px;
	margin: 0px auto;
	color: #FEE440;
	opacity: 10%;
	text-align: left;
}
.year2 {
	font-family: "Handjet", sans-serif;
	font-size: 100vh;
	margin: 0px auto;
	color: #9B5DE5;
	opacity: 10%;
	text-align: center;
}
.container1 {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
}
.container2 {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: -7vh;
	left: 1vw;
}


@media screen and (max-width: 768px) {
	body {
		background-color: #9B5DE5;
	}
	h1 {
		display: none;
	}
	h2, h3 {
		display: block;
	}
	.container1 {
		display: block;
	}
	.container2 {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	h1 {
		display: block;
	}
	h2, h3 {
		display: none;
	}
	.container1 {
		display: none;
	}
	.container2 {
		display: block;
	}
}
@media screen and (max-width: 1127px) {
	h1 {
		margin-top: 30vh;
	}
}

